.loginPage, .registerPage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loginForm, .registerForm {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.center {
    text-align: center;
}

.button {
    width: 100%;
    background-color: brown;
    margin-top: 1em;
    color: white;
}
.dataCard {
    width: 100%
}

.dataCard p {
    margin-left: 1.5em;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.buttonCollaborators {
    width: 35%;
    background-color: brown;
    margin-top: 1em;
    color: white;
}

.centerButton {
    text-align: center;
}

img {
    width: 200px;
    height: 300px;
}

.card {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.userCard {
    display: flex;
    width: 45%;
    background-color: #e6e6e6;
    margin-bottom: 2em;
}

.App-header {
    background-color: #870d06;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.App-header ul {
    display:flex;
}
.navName {
    list-style-type: none;
    margin-left: 0.5em;
}

.navName a {
    color: #fff;
}